<!DOCTYPE html>
<html lang="{{entry.language}}">
<head>
    <meta charset="utf-8">
    <title>{{entry.title}} - {{global.title}}</title>
</head>
<body>
    <header>
        <h1>{{entry.title}}</h1>
        <p class="abstract">{{entry.abstract}}</p>
    </header>
    <main>
        {{entry.content}}
    </main>
</body>
</html>